.loader-wrapper {
  display: block;
  position: absolute;
  width: 6rem;
  height: 6rem;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px black solid;
  border-radius: 50%;
  animation: loader-pulse infinite 1s linear;
}

@keyframes loader-pulse {
  0% { transform: scale(0.25); }
  50% { transform: scale(1); }
  100% { transform: scale(0.25); }
}
